<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #6f060b!important; */
  }
</style>
<% if params[:controller] == "carriers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #6f060b!important;
  }
  .tooltip .arrow::before{
    border-right-color: #6f060b!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-scout">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <%= render 'carriers/header/buttons_and_links' %>
      </div>
      <h4 class="panel-title lp-header">Carriers (New)</h4>
    </div>
    <div class="panel-body">
      <table class="table table-bordered display nowrap" id="newly-datatable">
        <thead>
          <tr>
            <th><abbr title="First Load">FL</abbr></th>
            <th>LW</th>
            <th>2W</th>
            <th>3W</th>
            <th>4W</th>
            <th>5W</th>
            <th>6W</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Class</th>
            <th>Owner</th>
            <th>ORG</th>
            <th>DEST</th>
            <th>MC #</th>
            <th>Tier</th>
            <th>Trucks</th>
            <th>Reefers</th>
            <th>Teams</th>
            <th>INT</th>
            <th><abbr title="Gross Margin %">GM</abbr></th>
            <th>WB</th>
            <th>WK</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
