<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "#{@carrier_location.carrier.nil? ? '' : generate_alphanumeric_id(@carrier_location.carrier.company_name, @carrier_location.carrier.id)}", sub_header_title: "#{@carrier_location.carrier.nil? ? '' : link_to(@carrier_location.carrier.company_name,  @carrier_location.carrier)}"  %>
  </h1>
  <span class="pull-right">
    <% if current_user.has_role?(:admin) %>
      <%= link_to 'Edit', edit_carrier_location_path(@carrier_location), :class => 'btn btn-warning btn-xs', target: :_blank %>
      <%= link_to 'Back', carrier_path(:id => @carrier_location.carrier_id), :class => 'btn btn-info btn-xs' %>
    <% end %>
  </span>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title"></h4>
  </div>
  <div class="panel-body">
    <%= render 'carrier_locations/show_fields', carrier_location: @carrier_location %>
  </div>
</div>
