<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carrier_location.name %>
</p>

<%= link_to 'Edit', edit_carrier_location_path(@carrier_location) %> |
<%= link_to 'Back', carrier_locations_path %>
