<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipper_location.name %>
</p>

<%= link_to 'Edit', edit_shipper_location_path(@shipper_location) %> |
<%= link_to 'Back', shipper_locations_path %>
