<div class="login-header">
  <div class="brand">
    <img src="<%= asset_path('scout.png') %>" style="margin-bottom: 10px;">
    <small>Please sign in your account</small>
  </div>
  <div class="icon">
    <i class="fa fa-sign-in"></i>
  </div>
</div>
