<div class="news-feed">
  <div class="news-image" style="background-image: url(<%= asset_path('banner.jpg') %>)"></div>
  <div class="news-caption">
    <div class="news-logo">
      <img src="<%= asset_path('scout_fav.png') %>" />
      <!-- <p>
        Welcome.
      </p> -->
    </div>
  </div>
</div>
