<div class="news-feed">
  <div class="news-image" style="background-image: url(<%= asset_path('login-bg-11.jpg') %>)"></div>
  <div class="news-caption">
    <h4 class="caption-title"><b>Scout</b></h4>
    <!-- <p>
      Welcome.
    </p> -->
  </div>
</div>
