<div class="news-feed">
  <div class="news-image" style="background-image: url(<%= asset_path('login_splash.jpg') %>)"></div>
  <div class="news-caption">
    <div class="news-logo">
      <img src="<%= asset_path('scout-logo.png') %>" />
      <img class="manage-logo" src="<%= asset_path('manage-companies.png') %>" />
      <!-- <p>
        Welcome.
      </p> -->
    </div>
  </div>
</div>
