<div class="header-darkblue">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "#{@shipper_contact.shipper.nil? ? '' : generate_alphanumeric_id(@shipper_contact.shipper.company_name, @shipper_contact.shipper.id)}", sub_header_title: "#{@shipper_contact.shipper.nil? ? '' : link_to(@shipper_contact.shipper.company_name,  @shipper_contact.shipper)}"  %>
  </h1>
  <span class="pull-right">
    <% if current_user.has_role?(:admin) %>
      <%= link_to 'Edit', edit_shipper_contact_path(@shipper_contact), :class => 'btn btn-warning btn-xs', target: :_blank %>
      <%= link_to 'Back', shipper_path(:id => @shipper_contact.shipper_id), :class => 'btn btn-info btn-xs' %>
    <% end %>
  </span>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title"></h4>
  </div>
  <div class="panel-body">
    <%= render 'shipper_contacts/show_fields', shipper_contact: @shipper_contact %>
  </div>
</div>
