<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<a class="btn btn-info" href="/users/1">Show</a>
<a class="btn btn-warning" href="/users/1/edit">Edit</a>
