
<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<h4 class="panel-title">Load Listings</h4>
<div class="panel-body">
  <table class="table table-bordered display nowrap" id="loads-datatable">
    <thead>
      <tr>
        <th>Load #</th>
        <th>Ship Date</th>
        <th>Customer</th>
        <th>Origin</th>
        <th>OS</th>
        <th>Dest</th>
        <th>DS</th>
        <th>MC #</th>
        <th>Carrier</th>
        <th>Curr</th>
        <th>TTT</th>
        <th>Billing</th>
        <th>Mileage</th>
        <th>TTT RPM</th>
        <th>Bill RPM</th>
        <th>GM</th>
        <th>GMPER</th>
        <th>Cust Sys</th>
        <th>Carr Sys</th>
        <th>Gross Margin</th>
        <th>EXCH</th>
        <th>Sales</th>
        <th>Dispatch</th>
        <th>Truck</th>
      </tr>
		</thead>

  </table>
</div>
