<div class="kanban-entry-inner">
    <div class="kanban-label"
        style="border: 2px solid #6f060b;">
        <div class="row">
          <div class="col-md-12" style="text-align: justify;">
            <b><%= tile.load_num %></b> &nbsp;
            <%= generate_location(tile.os, nil).html_safe %>
            <i class="fas fa-arrow-right" style="vertical-align: middle;"></i>
            <%= generate_location(tile.ds, nil).html_safe %>
            <%= link_to '<i class="far fa-eye fa-1-2x"></i>'.html_safe, details_loads_path(:id => tile.load_num), :remote => true, :id => 'show_tile', :class => 'text-success pull-right link-inline' %>

          </div>
        </div>
    </div>
</div>
