<div class="btn-group btn-group-sm" role="group" aria-label="Views" style="margin-left: 5px;">
  <%= link_to 'Table', loads_path, :class => 'btn btn-success btn-xs', target: :_blank %>
  <%= link_to 'Grid', tiles_loads_path, :class => 'btn btn-danger btn-xs', target: :_blank %>
</div>
