<style>
  .nav-<%= @tile_tab.nil? ? '' : @tile_tab.id %> {
    background: #8753de!important;
    color: #fff!important;
  }
  .nav-<%= @tile_tab.nil? ? '' : @tile_tab.id %>:hover {
    color: #333!important;
  }
  .nav-pills .nav-link, .nav-pills > li > a {
    color: #fff!important;
  }
  .nav > li > a:focus, .nav > li > a:hover {
    background: transparent!important;
  }
</style>
<div class="header-violet" >
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "Load" %>
  </h1>
  <div class="panel-heading-btn">
    <%= render 'loads/tiles/header_buttons' %>
  </div>
</div>
<div class="panel panel-inverse" style="top: 140px;">
  <div class="panel-heading" style="padding: 5px 15px">
    <div class="panel-heading" style="padding: 5px 0;">
      <ul class="nav nav-pills md-nav" style="margin-bottom: 0px; margin-left: -15px;">
      </ul>
    </div>
  </div>
</div>
