<%= render 'layouts/static/header', header_title: "#{@carrier_lane.carrier.nil? ? '' : generate_alphanumeric_id(@carrier_lane.carrier.company_name, @carrier_lane.carrier.id)}", sub_header_title: "#{@carrier_lane.carrier.nil? ? '' : link_to(@carrier_lane.carrier.company_name,  @carrier_lane.carrier)}"  %>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
        <% if current_user.has_role?(:admin) %>
          <%= link_to 'Edit', edit_carrier_lane_path(@carrier_lane), :class => 'btn btn-warning btn-xs' %>
          <%= link_to 'Back', carrier_path(:id => @carrier_lane.carrier_id), :class => 'btn btn-info btn-xs' %>
        <% end %>
    </div>
    <h4 class="panel-title">Information</h4>
  </div>
  <div class="panel-body">
      <%= render 'carrier_lanes/show_fields', carrier_lane: @carrier_lane %>
  </div>
</div>
