<style>
  .badge a {
    color: #fff!important;
  }
  td.link a:visited {
    /* color: #013a38!important; */
  }
</style>
<% if params[:controller] == "shippers" %>
  <style media="screen">
  .tooltip-inner {
    background-color: #013a38!important;
  }
  .tooltip .arrow::before{
    border-right-color: #013a38!important;
  }
  th {
    vertical-align: top;
  }
  </style>
<% end %>
<!-- begin panel -->
<div style="width: 100%">
  <div class="panel panel-darkblue">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <button id="send-text-btn" class="btn btn-green btn-xs"><i class="fas fa-comment-alt"></i></button>
        <button id="send-mail-btn" class="btn btn-primary btn-xs"><i class="fas fa-envelope"></i></button>
        <%= link_to 'New Shipper', new_shipper_path, :class => 'btn btn-success btn-xs' %>
      </div>
      <h4 class="panel-title lp-header">Shippers</h4>
    </div>
    <div class="panel-body">
      <table class="table table-bordered display nowrap" id="shipper_table">
        <thead>
          <tr>
            <th></th>
            <th class="text-center"><i class="fas fa-clock"></i></th>
            <th>RO</th>
            <th>Class</th>
            <th>Name</th>
            <th>ST/PV</th>
            <th>DM Name</th>
            <th>DM Phone</th>
            <th>Lane</th>
            <th>DM Email</th>
            <th>Appr</th>
            <th>CR</th>
            <th>LstDateCon</th>
            <th>1M</th>
            <th>6M</th>
            <th>City</th>
            <th>LPM</th>
            <th>Commodities</th>
          </tr>
        </thead>

      </table>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
    $('#send-mail-btn').on('click', function(){
        var rows_selected = $('#shipper_table').DataTable().column(0).checkboxes.selected();
        if (rows_selected.join(",") != ""){
          $.redirect('/shippers/compose_mail', {'ids': rows_selected.join(",")});
        }
    });
    $('#send-text-btn').on('click', function(){
        var rows_selected = $('#shipper_table').DataTable().column(0).checkboxes.selected();
        if (rows_selected.join(",") != ""){
          $.redirect('/shippers/compose_sms', {'ids': rows_selected.join(",")});
        }
    });
  });
</script>

<!-- end panel -->
