
<%= render 'layouts/static/header', header_title: 'Shipper Lanes' %>

<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<hr>
<div class="title-btn-group">
  <h4 class="text-inverse pull-left">Shipper Lanes</h4>
  <span class="pull-right">
  <%= link_to 'New Lane', new_shipper_lane_path, :class => 'btn btn-primary btn-xs' %>
</div>
  <h4 class="panel-title">Shipper lanes</h4>
<div class="panel-body">
  <%= render 'table', shipper_lanes: @shipper_lanes %>
</div>
