
<%= render 'layouts/static/header', header_title: 'Client Dashboard', sub_header_title: 'Home' %>
<% client_contact = ClientContact.find(current_user.client_contact_id)%>
<% client = Client.find(client_contact.client_id)%>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Shipments</h4>
  </div>
  <div class="panel-body">
    <%= render 'clients/shipments', shipments: client.shipments, client: client  %>
  </div>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Invoices</h4>
  </div>
  <div class="panel-body">
    <%= render 'master_invoices/table', master_invoices: client.master_invoices %>
  </div>
</div>
