<% client_contact = ClientContact.find(current_user.client_contact_id)%>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Inbound Shipments</h4>
  </div>
  <div class="panel-body">
    <%= render 'clients/shipments', shipments: Shipment.where(:destination_id => client_contact.client_id) %>
  </div>
</div>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Outbound Shipments</h4>
  </div>
  <div class="panel-body">
    <%= render 'clients/shipments', shipments: Shipment.where(:origin_id => client_contact.client_id) %>
  </div>
</div>
