<!-- begin page-header -->
<%= render 'layouts/static/header', header_title: 'Activities' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Engagement', new_shipper_activity_path, :class => 'btn btn-primary btn-xs' %>
    </div>
    <h4 class="panel-title">List of Activities</h4>
  </div>
  <div class="panel-body">
      <%= render 'table', shipper_activities: @shipper_activities %>
  </div>
</div>
<!-- end panel -->
