/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require vendor/jquery-ui.min
 *= require vendor/bootstrap.min
 *= require vendor/all.min
 *= require vendor/animate.min
 *= require vendor/style.min
 *= require vendor/style-responsive
 *= require vendor/default
 *= require vendor/dataTables.bootstrap.min
 *= require vendor/buttons.bootstrap.min
 *= require vendor/responsive.bootstrap.min
 *= require vendor/parsley
 *= require vendor/jquery.gritter
 *= require vendor/switchery.min
 *= require vendor/bootstrap-datepicker.min
 *= require vendor/bootstrap-tagsinput
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

body {
  // background: url(asset_path('squared_metal.png'));
}
.extend_image img {
  height: 40px !important;
  object-fit: cover;
}

.social-links {
  font-size: 1.3em !important;
  text-align: center;
}

.select2 {
    width: 100% !important;
}

.lbl-padding-t {
  padding-top: 7px!important;
}

li[aria-disabled="true"] {
    margin-top:8px;
    border-top:1px solid #666;
    padding:0;
}

.data-table-buttons {
  width: 100% !important;
  max-width: none !important;
}
.data-table-no-buttons {
  width: 100% !important;
  max-width: none !important;
}
table.dataTable {
  margin-bottom: 0 !important;
}
.notification-padding {
  padding: 12px !important;
}
.hlc { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
.hlc span { padding:0 10px; font-size: 14px; font-weight: bolder;}
.text-scout {
  color: #dd2c35!important;
}
.btn-scout {
  background-color: #A6181F!important;
  border-color: #A6181F!important;
  color: #fff;
  transition: .1s;
}
.btn-scout:hover {
  background-color: #6f060b!important;
  border-color: #6f060b!important;
}
.checkbox.checkbox-css input:checked+label:before {
    background: #A6181F!important;
    border-color: #A6181F!important;
}
#file-selected {
  overflow: hidden;
  white-space: nowrap;
}
#file-upload {
  cursor: pointer;
}
.custom-file {
  margin-bottom: 5px;
}
.form-control:focus {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 44, 53, .8)!important;
}
.custom-file-label::after {
  height: 100%!important;
  line-height: 2!important;
}
.custom-file label {
  font-weight: normal!important;
  line-height: 1.7!important;
}
.custom-file-label::after {
  background-color: #A6181F;
  color: #fff;
  border-left: 1px solid #A6181F;
}
.custom-file-input:focus ~ .custom-file-label {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 135, 185, .8)!important;
}
.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #dd2c35!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 135, 185, .8)!important;
}
