/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require vendor/jquery-ui.min
 *= require vendor/bootstrap.min
 *= require vendor/all.min
 *= require vendor/animate.min
 *= require vendor/style.min
 *= require vendor/style-responsive
 *= require vendor/default
 *= require vendor/dataTables.bootstrap.min
 *= require vendor/buttons.bootstrap.min
 *= require vendor/responsive.bootstrap.min
 *= require vendor/parsley
 *= require vendor/jquery.gritter
 *= require vendor/switchery.min
 *= require vendor/bootstrap-datepicker.min
 *= require vendor/bootstrap-tagsinput
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

body {
  background: url(asset_path('squared_metal.png'));
}

.extend_image img {
  height: 40px !important;
  object-fit: cover;
}

.social-links {
  font-size: 1.3em !important;
  text-align: center;
}

.select2 {
    width: 100% !important;
}

.lbl-padding-t {
  padding-top: 7px!important;
}
