<span
  class="learned"
  data-toggle="tooltip"
  data-placement="right"
  data-html="true"
  title="<%= activity.notes.nil? ? '' : activity.notes %>">
  <%= activity.notes.nil? ? '' : truncate_html_to_sentence(activity.notes) %>
</span>
