<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title lp-header">Logs</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered display nowrap" id="log-datatable" width="100%">
			<thead>
				<tr class="odd gradeX">
					<th>User</th>
  				<th>Date/Time</th>
					<th>Activity (Description)</th>
				</tr>
			</thead>
    </table>
  </div>
</div>
<!-- end panel -->
<script language="javascript">
    $(document).ready(function() {
        initLogTable();
    });
</script>