<!-- begin page-header -->
<%#= render 'layouts/static/header', header_title: 'Rates' %>
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel panel-emerald">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <% if !is_mobile %>
          <%= link_to 'New Carrier Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'btn btn-green btn-xs' %>
          <%= link_to 'New Shipper Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'btn btn-green btn-xs' %>
        <% else %>
        <div class="btn-group">
          <button class="btn btn-green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Rate
          </button>
          <div class="dropdown-menu">
            <%= link_to 'New Carrier Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "carrier"), :class => 'dropdown-item' %>
            <%= link_to 'New Shipper Rate', new_rate_path(:previous_controller => params[:controller], :client_type => "shipper"), :class => 'dropdown-item' %>
          </div>
        </div>
        <% end %>
      </div>
      <h4 class="panel-title lp-header">Rates</h4>
    </div>
    <div class="panel-body">
      <% if params[:controller] == "rates" %>
        <style>
          .tooltip-inner {
            background-color: #033309!important;
          }
          .tooltip .arrow::before{
            border-right-color: #033309!important;
          }
          td.link a:visited {
            color: #033309!important;
          }
        </style>
      <% elsif params[:controller] == "carriers" %>
        <style>
          td.link a:visited {
            color: #6f060b!important;
          }
        </style>
      <% elsif params[:controller] == "shippers" %>
        <style>
          td.link a:visited {
            color: #013a38!important;
          }
        </style>
      <% elsif params[:controller] == "activities" %>
        <style>
          td.link a:visited {
            color: #dd8b00!important;
          }
        </style>
      <% end %>
      <table table class="table table-striped table-bordered display nowrap" id="rate-datatable">
        <thead>
          <tr class="odd gradeX">
            <th data-orderable="false">Actions</th>
            <th>Origin City</th>
            <th>Origin ST/PV</th>
            <th>Destination City</th>
            <th>Destination ST/PV</th>
            <th>Miles</th>
            <th>Type</th>
            <th>Picks</th>
            <th>Drops</th>
            <th>Team</th>
            <th>Commodities</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Accepted</th>
            <th>Cost</th>
            <th>Currency</th>
            <th>MC #</th>
            <th>Notes</th>
            <th>Date Created</th>
            <th>Carrier</th>
            <th>Shipper</th>
          </tr>
        </thead>
      </table>

    </div>
  </div>
</div>
<!-- end panel -->
